@CHARSET "UTF-8";
*{
	font-family: '微软雅黑';
}
.addrow{
	margin-top: 10px;
}
.hr{
	color: black;
	display: block;
	margin-bottom: 0px;
	padding-bottom: 0px;
}
td{
	height: 30px;
}
.gjxx{
	font-size: 10px;
	padding-left: 100px;
}
.red_1{
	font-size: 18px;
	font-weight: bolder;
}
.red_2{
	font-size: 18px;
	font-weight: bolder;
	color: red;
}
.b_red_2{
	font-size: 15px;
	font-weight: bolder;
	color: red;
}
.title{
	font-size: 15px;
    font-weight: bold;
    margin-top: 0px;
    padding-top: 0px;
}
.span7{
	margin-top: 30px;
	margin-left: 0;
	padding-left: 0;
}
#dbhr{
	padding-top: 35px;
}
.green_1{
	font-size: 18px;
	font-weight: bolder;
	text-align: justify;
}
.left{
	padding-left: 40px;
}
.green_2{
	font-size: 18px;
	font-weight: bolder;
	color: green;
}
.b_green_2{
	font-size: 15px;
	font-weight: bolder;
	color: green;
}
.jgmxzc{
	font-size: 15px;
	font-weight: bold;
}
.yelow{
	color: blue;
	font-size: 15px;
	font-weight: bolder;
}
.div_1{
	width: 110px;
	height:80px;
	float: left;
	padding-right: 20px;
}
.div_2{
	width: 500px;
	height: 400px;
}
